.flex-display-cart{
    display: flex;
    flex: 1;
    
}
.flex-mycart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
}
.cart-items-col{
    display: flex;
    gap: 3rem;
}

.cart-items-left{
    padding: 1rem;
    display: block;
    background-color: #fff;
    height: 50%;
    /* width: 100%; */
    border-radius: 1rem;
}
.cart-button{
    width: 100%;
    background-color: #24293F;
    font-family: "Poppins";
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none; outline: none;
    color: #fff;
}